{% load static %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title> 
     
     {% load static %}  
</head>  
<body>  
<table >  
    <thead>  
    <tr>  
        <th>Company Name</th>  
        <th>Vacant Post</th>  
        <th>Enter no of Vacany</th>  
        <th>Email Address</th>  
        <th>Phone</th> 
        <th>Location</th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for employee in employees %}  
    <tr>  
        <td>{{ employee.cCompanyName }}</td>  
        <td>{{ employee.cVacantPost }}</td>  
        <td>{{ employee.cVacancyNumber }}</td>  
        <td>{{ employee.cEmail }}</td>
        <td>{{ employee.cMobile }}</td>
        <td>{{ employee.cLocation}}</td>  
        <td>  
            <a href="/edit/{{ employee.id }}"><span >Edit</span></a>  
            <a href="/delete/{{ employee.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table >  
<br>  
<br>  
<center><a href="/company/" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  